<?xml version="1.0" ?>
<connectionStrings>
  <add name="AzureDB" connectionString="Server=tcp:insuranceappdatabaseserver.database.windows.net,1433;Initial Catalog=InsuranceAppDatabase;Persist Security Info=False;User ID=BartlomiejLeja;Password=Sim13vetson!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>
